  
  .jumbotron {
    text-align: center;
    border-bottom: 10px solid black;
  }
  
  .time {
    border: 0.10rem solid gray;
    padding: 1rem;
    text-align: center;
    vertical-align: 1rem;
  }

  /* Octocat in the Right Corner Start*/

.github-corner svg{
  position:absolute;
  right: 0;
	top:0;
	color:#eeeeee;
	fill:#353535;
}
.github-corner:hover .octo-arm{
	animation:octocat-wave .56s;
}
@keyframes octocat-wave{
	0%, 100%{
		transform:rotate(0);
	}
	20%, 60%{
		transform:rotate(-20deg);
	}
	40%, 80%{
		transform:rotate(10deg);
	}
}