   
  .jumbotron {
    text-align: center;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .time {
    border: 0.10rem solid gray;
    padding: 1rem;
    text-align: center;
    vertical-align: 1rem;
  }



  